@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .turbo-progress-bar {
    height: 3px !important;
    background-color: #F4F300 !important;
  }

  /* Firefox */
  html {
    scrollbar-color: #AAC1DF white;
  }

  /* WebKit and Chromiums */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: white;
  }

  ::-webkit-scrollbar-thumb {
    background: #AAC1DF;
    border-radius: 5px;
  }
}

