<div class="w-full">
  <div class="flex justify-between items-center sticky top-[4rem] bg-white pb-2">
    <h1 class="font-bold text-4xl">Products</h1>
  </div>

  <%= turbo_frame_tag "products_page_#{@pagy.page}" do %>
    <%= render partial: "product", collection: @products, cached: true %>
    <% unless @pagy.page == @pagy.pages %>
      <%= turbo_frame_tag "products_page_#{@pagy.next}", src: products_path(page: @pagy.next), loading: "lazy" do %>
        <div>Loading...</div>
      <% end %>
    <% end %>
  <% end %>
</div>
