<nav class="bg-white fixed top-0 w-full">
  <div class="container mx-auto flex items-center justify-between p-4">

    <%= link_to root_path do %>
      <p class="text-black text-2xl font-semibold">
        <span class="text-notice">Go</span><span class="text-alert">gh</span><span class="text-scrollbar">to</span><span class="text-primary">shop</span></p>
    <% end %>

    <div class="space-x-6">
      <%= link_to "Cart" %>
      <% if current_user&.admin? %>
        <%= link_to "Admin", admin_root_path %>
      <% end %>
    </div>
  </div>
</nav>
